<div class="modal-contenedor">
  <div class="modal-carrito">
      <h3>Carrito</h3>
      <button id="carritoCerrar" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
      <table class="show-cart table">
      </table>
      <p class="precioProducto">Precio total:$<span class="total-cart"></span></p>
        <button class="clear-cart">Vaciar carrito</button>
        <form action="pagos">
            <button  class="boton-pagar">Ordenar ahora</button>
        </form>
  </div>
</div>

    <div class="container_personal">
        <div class="left">
          <form> 
            <fieldset><h2 class="titulo">DISEÑOS</h2>
            <% results.forEach((inventario)=>{%>
              <div class="izquierda">
                 <p ><%=inventario.nombre %></p>
                 <p>(Precio:<%=inventario.precio%>) </p>
                 </div>
        <div class="izquierda"> 
        <div class="radiodperso">
        <label>Visualizar</label><input id="<%=inventario.id_producto%>"type="radio" name="diseño" value="<%=inventario.imagen%>"onclick="cambioImagen(this.id)" required>
         <input type="hidden"value="<%=inventario.id_producto%>" id="id_producto">
         <input type="hidden"value="<%=inventario.nombre%>" id="nombre">
         <input type="hidden"value ="<%=inventario.precio%>" id="precio">
        <br>
        <br>
   </div>
</div>
            <% })  %>
          
  </div>
  <div class="center">
      <div class="img-center">
          <label><img id="foto" class="card-imagen"src="../img/diseño1.jpg"></label>
      </div>
  </div>
  <div class="right">
      <h2 class="titulo">AROMAS</h2>
      <% fragancias.forEach((aroma)=>{%>
        <div class="derecha"> 
          <br>
          <br>
        <p><%=aroma.nombre %></p>
        <p>(Precio:<%=aroma.precio%>) </p>
        </div>
        <br>
        <div class="izquierda">
          <div class="radiodperso">
            <label>Seleccionar</label><input id="<%=aroma.id_producto%>"type="radio" name="aroma"  class="a" required>
            <input type="hidden" value="<%=aroma.nombre%>" id="nombrepro">
            <input type="hidden" value="<%=aroma.precio%>"id="preciopro">
            </div>
        </div>
        <br>
        <br>
      <% })  %>
      <input type="submit" id="agregabtn" name="agregapersonaliza" value="Añadir al carrito" onclick="procesar()">
      
  </div>

  
  </div>
  
           </fieldset>
        </form>
     
    </div>
       