

  <main id="contenedor-productos">
    <% results.forEach((inventario)=>{ %>
     
        <div class="producto">
        <img src="img/<%=inventario.imagen%>" alt="" width="250px" height="250px">
        <h3><%= inventario.nombre %></h3>
        <p><%= inventario.descripcion %></p>
        <p class ="precioProducto">Precio:$<%=inventario.precio %></p>
        <button id="agregar"<%=inventario.id_producto%> class="boton-agregar" >Agregar<i class="fas fa-shopping-cart"></i></button>
      </div>

        <% }) %>
      </main>
      
<div class="modal-contenedor">
    <div class="modal-carrito">
        <h3>Carrito</h3>
        <button id="carritoCerrar"><i class="fas fa-times-circle"></i></button>
        <div id="carrito-contenedor">
        </div>
        <p class="precioProducto">Precio total: $<span id="precioTotal">0</span></p>
        <button id="vaciar-carrito" class="boton-agregar">Vaciar carrito</button>
        <br>
        <br>
        <form action="pagos">
            <button  class="boton-pagar">Pagar</button>
        </form>
    </div>
</div>